* {
  margin: 0;
  padding: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.062);
  background-color: rgba(39, 128, 245, 0.123);
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  text-shadow: 0 -1px 2px #060b4ed8, 0 2px 2px #0323478c;
}

.logo {
  max-height: 10vh;
  margin-left: 1rem;
}

.container-menu {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.menu {
  display: flex;
  gap: 10px;
  list-style: none;
  margin-right: 1rem;
  padding: 0;
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
}

.gambar-home {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.gambar-home img {
  width: 100%;
  opacity: 95%;
}
.wrapper-selamatDatang {
  position: absolute;
  background-color: rgba(242, 7, 7, 0.103);
  margin-right: 20px;
  padding: 2rem;
  width: 40vw;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  text-align: center;
}
.wrapper-selamatDatang h2 {
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: 1px -1px 2px #a0040470, 0 2px 2px #a0040488;
  margin-bottom: 1rem;
  font-weight: 900;
}

.wrapper-selamatDatang p {
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: 1px -1px 2px #a0040473, 0 2px 2px #a0040483;
  font-weight: 500;
}

.iconMenu {
  display: none;
  width: 1.9rem;
  margin-right: 10px;
}

.menu a:hover,
.iconBackMenu:hover,
.iconMenu:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.248);
}

menu {
  display: none;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.775);
  z-index: 2;
  width: 50vw;
  height: 100vh;
}
menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 3rem;
}
menu a {
  text-decoration: none;
  color: black;
}

.iconBackMenu {
  position: absolute;
  margin: 1rem;
  width: 1.9rem;
}

.container-informasi {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transform: translateY(-50%);
  position: absolute;
}

.container-informasi div {
  text-align: center;
  width: 15rem;
  height: 7rem;
}

.container-informasi p {
  font-size: 1rem;
  margin-top: 0.5rem;
  background-color: #078cf213;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-weight: 400;
  text-shadow: 1px -1px 8px #0456a0, 0 2px 8px #0457a063;
}

.container-informasi h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 1px -1px 8px #0456a0, 0 2px 8px #0457a063;
}

.container-informasi > div {
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.sistemInformasi {
  background-image: url("../img/sistemInformasi.jpg");
  background-position: center;
  padding: 1rem;
  width: 40vw;
}

.jaringanInternet {
  background-image: url("../img/gedungPerpustakaan.png");
  background-position: center;
  padding: 1rem;
  width: 40vw;
}

.pangkalanData {
  background-image: url("../img/pangkalanData.jpg");
  background-position: center;
  padding: 1rem;
  width: 40vw;
}

footer {
  margin-top: 2rem;
  background-color: #7b7c7c86;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.timPustipada {
  margin-top: 4rem;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.timPustipada img {
  width: 500px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.about {
  padding: 2rem;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.25);
}

.about img {
  width: 600px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.about h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1rem;
  font-weight: 900;
}

.about p {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.contact {
  padding: 2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  margin-top: 2rem;
}

.contact h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1rem;
  font-weight: 900;
}

.contact p {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.contact img {
  width: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-informasi div:hover {
  background-color: rgba(7, 140, 242, 0.25);
  width: 17rem;
  height: 9rem;
  transition: all 0.5s ease;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.container-informasi div h3,
.container-informasi div p {
  display: none;
}

.container-informasi div:hover h3,
.container-informasi div:hover p {
  display: block;
}

@media (max-width: 800px) {
  .menu a {
    display: none;
  }
  .iconMenu {
    display: block;
  }
  .container-informasi {
    position: static;
    flex-direction: column;
    transform: translate(0);
    padding-top: 1rem;
  }
  .about img {
    width: 100%;
  }

  .wrapper-selamatDatang {
    width: 70vw;
    margin: 0;
    padding: 1rem;
  }
  .wrapper-selamatDatang h2 {
    font-size: 1.5rem;
  }
  .wrapper-selamatDatang p {
    font-size: 1rem;
  }
  .timPustipada img {
    width: 100%;
  }
  .container-informasi div h3,
  .container-informasi div p {
    display: block;
  }
  .container-informasi div {
    width: 60vw;
    height: auto;
    background-color: transparent;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    transition: none;
    cursor: default;
  }
  .timPustipada {
    margin-top: 2rem;
  }
}
